# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Shopify
dist/
*.zip
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Build
build/
cache/
.temp/

# Misc
*.local
*.sublime-project
*.sublime-workspace
